
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @foreach (var item in ViewData)
    {
        <h1>@item.Key: @item.Value</h1>
    }
</body>
</html>

