
@{
    using 
    ViewData["Title"] = "JB";
}

<p>This is the var LocationName:</p>
<h1>@LocationName</h1>
<p>This is the viewbag.name:</p>
<h1>@ViewBag.Name</h1>
<p>This should always say 'Pizza'</p>
<h1>Pizza</h1>

<p>(get all the pizzas.)</p>
<p>what is the name of this location?</p>

