<!DOCTYPE html>
<html>
    <head>
        <title>The Invite Website</title>
    </head>
    <body>
        <h1>THE INVITE WEBSITE - HEADER</h1>

        @RenderBody()

        @*@Html.Partial("DatePartial")*@
    </body>
</html>



