@{ 
    ViewData["Title"] = "ThankYou";
}

<h1>AAArrrrr!!!</h1>
<h2>see you soon, @ViewBag.Name</h2>

@{ 
    if(ViewBag.Guests > 1)
    {
        <p>BYOB</p>
    }

    if(ViewBag.Menu == "yes")
    {
        <p>fruit assortment will be available</p>
    }
}

