
@{
    ViewData["Title"] = "Processed";
}


<h1>Processed</h1>
<h4>Your order:</h4>
<h5>Location: @ViewBag.Location</h5>
<h5>Size: @ViewBag.Size</h5>
<h5>Crust: @ViewBag.Crust</h5>
<h5>Pizza: @ViewBag.Pizza</h5>

@{ 
    
    if(ViewBag.Location == 1)
    {
        <p>Flecter</p>
    }
    else if(ViewBag.Location == 2)
    {
        <p>Fowler Ave</p>
    }
    else if(ViewBag.Location == 3)
    {
        <p>Bruce B Downs Blvd</p>
    }
    else
    {
        <p>oops... something went wrong</p>
    }
}
